body{
    margin: 0;
    background-color: rgb(239, 245, 255);
}
.main{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.nav{
    height: 80px;
    width: 100%;
    background-color: rgb(27, 27, 107);
    display: flex;
    align-items: center;
    justify-content: center;
}
.lftnav{
    height: 100%;
    width: 40%;
    color: white;

    /* background-color: aqua; */
}
.rgtnav{
    height: 100%;
    width: 55%;
    /* background-color: rgb(72, 178, 95); */
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.home{
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.detaildiv{
    height: 600px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    
}
.lftdetails{
height: 80%;
width: 50%;
/* background-color: blueviolet; */
display: flex;
align-items: center;
justify-content: center;
}
.imgdiv{
    height: 80%;
    width: 80% ;
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 4px;
    background-color: rgba(240, 248, 255, 0.638);
}
.imgdiv img{
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.466);
}
.rgtdetails{
    height: 80%;
    width: 50%;
    /* background-color: brown; */
}
.name{
    /* background-color: aqua; */
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    
}
.name h3{
    font-family: sans-serif;
    letter-spacing: 0.8px;
    font-size: 50px;
    color: rgb(141, 9, 9);
}
.details{
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: blue; */
}
.lftdet{
    height: 100%;
    width: 50%;
    /* background-color: rgb(255, 255, 255); */
    
}
.lftdet h3{
    padding-left: 30px;
    line-height: 2;
    font-family: sans-serif;

}
.rgtdet{
    height: 100%;
    width: 50%;
    /* background-color: rgb(110, 25, 25); */
}
.rgtdet h3{
    padding-left: 30px;
    line-height: 2;
    font-family: sans-serif;

}
.footer{
    height: 20%;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer button{
    height: 30px;
    width: 120px;
    border: 1px solid black;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 15px;
    background-color: rgba(78, 78, 78, 0.907);
}
.footer button:hover{
    background-color: rgb(56, 56, 56);
}
.footer .delete{
    background-color: rgb(111, 2, 2);
}

